@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i';
* {
  box-sizing: border-box;
}

@media screen and (max-width: 667px) {
  body {
      overflow-x: hidden !important;
  }
  .page {
      min-width: 680px !important;
      min-height: 400px !important;
      max-height: 680px !important;
      overflow-x: hidden !important;
  }
}

body {
  font-family: "Arial", sans-serif;
  color: #070707;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3d54;
  font-size: 18px;
  overflow: hidden;
}

.wrap {
  perspective-origin: 50% 50%;
  background-size: 125px 175px;
}

.page {
  margin: 3%;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
}

.svg {
  stroke: #f7618b;
  position: absolute;
  bottom: -100vh;
  overflow: visible;
  color: #f7618b;
  fill: #f7618b;
  border-color: #f7618b;
}

.svg:nth-child(1) {
  left: 18%;
  -webkit-animation: raise1 18s linear infinite;
          animation: raise1 18s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(-0.3) rotate(181deg);
  z-index: -10;
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(40deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(40deg);
  }
}

.svg:nth-child(2) {
  left: 43%;
  -webkit-animation: raise2 8s linear infinite;
          animation: raise2 8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(0) rotate(319deg);
  z-index: -9;
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(154deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(154deg);
  }
}

.svg:nth-child(3) {
  left: 63%;
  -webkit-animation: raise3 21s linear infinite;
          animation: raise3 21s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.3) rotate(303deg);
  z-index: -8;
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(313deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(313deg);
  }
}

.svg:nth-child(4) {
  left: 89%;
  -webkit-animation: raise4 19s linear infinite;
          animation: raise4 19s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.6) rotate(21deg);
  z-index: -7;
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(154deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(154deg);
  }
}

.svg:nth-child(5) {
  left: 20%;
  -webkit-animation: raise5 15s linear infinite;
          animation: raise5 15s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.9) rotate(44deg);
  z-index: -6;
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(89deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(89deg);
  }
}

.svg:nth-child(6) {
  left: -2%;
  -webkit-animation: raise6 11s linear infinite;
          animation: raise6 11s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(1.2) rotate(185deg);
  z-index: -5;
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(80deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(80deg);
  }
}

.svg:nth-child(7) {
  left: -3%;
  -webkit-animation: raise7 11s linear infinite;
          animation: raise7 11s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: scale(1.5) rotate(114deg);
  z-index: -4;
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(156deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(156deg);
  }
}

.svg:nth-child(8) {
  left: 65%;
  -webkit-animation: raise8 9s linear infinite;
          animation: raise8 9s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(1.8) rotate(335deg);
  z-index: -3;
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(129deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(129deg);
  }
}

.svg:nth-child(9) {
  left: 37%;
  -webkit-animation: raise9 19s linear infinite;
          animation: raise9 19s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: scale(2.1) rotate(205deg);
  z-index: -2;
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(25deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(25deg);
  }
}

.svg:nth-child(10) {
  left: -1%;
  -webkit-animation: raise10 14s linear infinite;
          animation: raise10 14s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(2.4) rotate(249deg);
  z-index: -1;
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(181deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(181deg);
  }
}

.page {
  background-color: #ffffff;
}

.white{
  color: white!important;
}

h1 { 
  display: block;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.75em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.btn-pink {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  color: #ffffff;
  background-color: #f7618b;
  border-color: #f7618b;
  
}

.wrapper .btn-pink:hover{
  transform: scale(1.1);
  transition: all 0.45s;
}

